.activity_nav{
    display: flex;
}

.activity_nav ul{
    color: #1e366a;
    border: dotted #1e366a 1px;/*ドット 色 太さ*/
    background: #f1f8ff;
    padding: 5px 30px;
    margin: 20px 10px;
    width :50%;
}
  
.activity_nav ul li{
    line-height: 1.5;
    padding: 5px 0;
    width :50%;
}

.record h2{
    margin: 5px 0;
}

.record li{
    margin: 5px 0;
}

.activity_list {
    list-style-type: none;
}
